header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 550px ;
    height: 140px;
    position: relative;
    }

    header img{
        width: 300px;
        position: absolute;
        bottom: 26px;
    }
    .Scrittore,.Data{
        color: gray;
    }

    .Autore{
        color:#2aade6;
    }

    .evidenziato{
        background-color: yellow;
    }


    thead {
        background-color: #20a9e5;
    }

    .intestazione{
        width: 500px;
    }

    .corpo{
        background-color: #9dd3eb
    }

    .corpo-centrale{
        background-color: #ffffff
    }

    .corpo-footer{
        background-color: #9dd3eb
    }

    .testo-colorato{
        background-color: yellow;
    }

    .Txt{
        color: gray;

   table cellspacing = "0"
