header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 550px ;
    height: 140px;
    position: relative;
    }

    header img{
        width: 300px;
        position: absolute;
        bottom: 26px;
    }